doctype html
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    style.
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .navbar {
        margin-bottom: 20px;
      }
    title To Do List
  body
     .container
        .navbar.navbar-default
         .container-fluid
            ul.nav.navbar-nav
                li: a(href="/") Home
                li: a(href="/monday/") Monday
                li: a(href="/tuesday/") Tuesday
                li: a(href="/wednesday/") Wednesday
                li: a(href="/thursday/") Thursday
                li: a(href="/friday/") Friday
                li: a(href="/saturday/") Saturday
                li: a(href="/sunday/") Sunday
        block content
