extends ../layout

block content
  .panel.panel-default
    .panel-heading
      h1 Monday
    .panel-body
      p: a.btn.btn-primary(href="/monday/new") New Task
      table.table
       thead
        tr
         th Task
         th Date
         th &nbsp;
         th &nbsp;
       tbody
        each c in date
         tr
          td #{c.task}
          td #{moment(c.taskDate, "YYYY-MM-DD").format("dddd, MMMM Do YYYY")}
          th: a.btn.btn-default(href=`/monday/edit/${c.id}`) Edit
          th: a.btn.btn-danger(href=`/monday/delete/${c.id}`) Delete
